Repository part4-project/effi_frontend, pull requests merged in 2024-05, with the labels that each got.

#11 '그룹 홈' 페이지 ui 완성
  src/Router.tsx
  src/assets/icons/arrow-left.svg
  src/pages/group-home/api/.gitkeep
  src/pages/group-home/components/meeting-notes.tsx
  src/pages/group-home/components/meetings.tsx
  src/pages/group-home/hooks/.gitkeep
  src/pages/group-home/index.tsx
  src/pages/group-home/utils/.gitkeep
  src/pages/index.ts
Labels: UI

#15 모달 구현 및 분리
  index.html
  src/components/modal/group-modal.tsx
  src/components/modal/meeting-modal.tsx
  src/components/modal/modal.tsx
  src/components/modal/portal.tsx
  src/components/modal/report-modal.tsx
  src/components/modal/user-info-modal.tsx
  src/hooks/use-close-modal.ts
  src/styles/z-index.ts
Labels: Modal

#14 Feature/login UI
  src/Router.tsx
  src/pages/index.ts
  src/pages/login/api/.gitkeep
  src/pages/login/components/.gitkeep
  src/pages/login/hooks/.gitkeep
  src/pages/login/index.tsx
  src/pages/login/utils/.gitkeep
Labels: UI

#16 sideBar, navBar UI작업 완료
  src/pages/Root.tsx
  src/pages/nav-bar/api/.gitkeep
  src/pages/nav-bar/components/.gitkeep
  src/pages/nav-bar/hooks/.gitkeep
  src/pages/nav-bar/index.tsx
  src/pages/nav-bar/utils/.gitkeep
  src/pages/side-bar/api/.gitkeep
  src/pages/side-bar/components/.gitkeep
  src/pages/side-bar/hooks/.gitkeep
  src/pages/side-bar/index.tsx
  src/pages/side-bar/utils/.gitkeep
  src/styles/subsection-size.ts
Labels: UI

#20 Feature/Lobby UI 및 기본기능 구현
  package-lock.json
  package.json
  src/pages/lobby/components/dropdown-button.tsx
  src/pages/lobby/components/my-calendar.tsx
  src/pages/lobby/components/my-schedule-list.tsx
  src/pages/lobby/components/quick-button.tsx
  src/pages/lobby/hooks/use-outside-click.ts
  src/pages/lobby/index.tsx
Labels: UI

#23 페이지에 모달 적용
  src/components/modal/create-group-modal .tsx
  src/components/modal/modal.tsx
  src/pages/group-home/components/meeting-notes.tsx
  src/pages/group-home/components/meetings.tsx
  src/pages/group-home/index.tsx
  src/pages/lobby/components/dropdown-button.tsx
  src/pages/lobby/index.tsx
  src/pages/nav-bar/index.tsx
  src/pages/side-bar/index.tsx
Labels: Modal

#31 그룹 홈 ui 수정
  src/pages/group-home/components/group-home-header.tsx
  src/pages/group-home/components/group-home-sidebar.tsx
  src/pages/group-home/components/meeting-notes.tsx
  src/pages/group-home/components/meetings.tsx
  src/pages/group-home/index.tsx
Labels: Refactor

#32 그룹모달 완료 및 sideBar크기조정과 styled-component 콘솔에러 수정
  src/assets/icons/close-btn.svg
  src/pages/Root.tsx
  src/pages/group-home/components/modal/group-danger.tsx
  src/pages/group-home/components/modal/group-invite.tsx
  src/pages/group-home/components/modal/group-member-info.tsx
  src/pages/group-home/components/modal/group-member-list.tsx
  src/pages/group-home/components/modal/group-modal.tsx
  src/pages/group-home/components/modal/group-modify.tsx
  src/pages/nav-bar/index.tsx
  src/styles/subsection-size.ts
Labels: UI, Modal

#29 Feature/user info modal UI 작업, faker.js 설치 후 적용
  package-lock.json
  package.json
  src/components/modal/user-info-modal.tsx
  src/utils/createRandomNickname.ts
Labels: UI, Modal

#34 그룹 생성 모달 ui 추가
  src/components/modal/create-group-modal .tsx
  src/pages/group-home/components/group-home-header.tsx
  src/pages/lobby/components/.gitkeep
  src/pages/side-bar/components/.gitkeep
  src/pages/side-bar/components/modal/group-create-modal.tsx
  src/pages/side-bar/index.tsx
Labels: UI, Modal

#35 feat: 로비페이지 UI 수정 및 calendar, schedule-list 연동
  src/constants/mockdata.ts
  src/pages/lobby/components/my-calendar.tsx
  src/pages/lobby/components/my-schedule-list.tsx
  src/pages/lobby/index.tsx
  src/pages/lobby/types/type.ts
  src/pages/lobby/utils/format-date.ts
Labels: Component, UI

#36 리포트 모달 Ui 작업
  src/components/modal/modal.tsx
  src/components/modal/report-modal.tsx
  src/constants/mockdata.ts
  src/pages/group-home/components/group-home-header.tsx
  src/pages/group-home/components/group-modal/group-danger.tsx
  src/pages/group-home/components/group-modal/group-invite.tsx
  src/pages/group-home/components/group-modal/group-member-info.tsx
  src/pages/group-home/components/group-modal/group-member-list.tsx
  src/pages/group-home/components/group-modal/group-modal.tsx
  src/pages/group-home/components/group-modal/group-modify.tsx
  src/pages/group-home/components/meeting-notes.tsx
  src/pages/group-home/components/report-modal/report-chat-history.tsx
  src/pages/group-home/components/report-modal/report-member.tsx
  src/pages/group-home/components/report-modal/report-modal.tsx
  src/pages/group-home/components/report-modal/report-time.tsx
  src/pages/group-home/components/report-modal/report-topic.tsx
  src/pages/group-home/utils/time-calculate.ts
Labels: UI, Modal

#38 회의 생성, 수정 모달 ui 완성
  src/components/modal/meeting-modal.tsx
  src/constants/.gitkeep
  src/constants/mockdata.ts
  src/constants/mockdata.type.ts
  src/pages/group-home/components/group-home-header.tsx
  src/pages/group-home/components/group-home-sidebar.tsx
  src/pages/group-home/components/meeting-modal/meeting-form.tsx
  src/pages/group-home/components/meeting-modal/meeting-modal.tsx
  src/pages/group-home/components/meeting-notes.tsx
  src/pages/group-home/components/meetings.tsx
  src/pages/lobby/components/dropdown-button.tsx
Labels: UI, Modal

#42 로그인페이지 디자인 적용 및 사이드바 그룹mock데이터 적용 및 리펙토링
  index.html
  src/assets/icons/google_logo.svg
  src/assets/logo.svg
  src/components/modal/user-info-modal.tsx
  src/constants/mockdata.ts
  src/pages/group-home/components/group-modal/group-modal.tsx
  src/pages/group-home/components/group-modal/group-modify.tsx
  src/pages/login/index.tsx
  src/pages/nav-bar/index.tsx
  src/pages/side-bar/components/group-item.tsx
  src/pages/side-bar/components/group-list.tsx
  src/pages/side-bar/index.tsx
  src/styles/z-index.ts
Labels: UI, Refactor, Modal

#41 fix: lobby 페이지 및 하위 컴포넌트 height 값 수정
  src/pages/lobby/components/my-calendar.tsx
  src/pages/lobby/components/my-schedule-list.tsx
  src/pages/lobby/index.tsx
Labels: UI

#44 베이스 모달 수정
  src/components/modal/modal.tsx
  src/pages/group-home/components/report-modal/report-modal.tsx
  src/pages/group-home/components/report-modal/report-time.tsx
  src/pages/group-home/utils/time-calculate.ts
Labels: Refactor, Modal
